# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Local financial data
data/*.pdf
data/*.db
data/*.sqlite
data/*.sqlite3

# Generated outputs
export/*.xlsx
export/*.csv

# macOS
.DS_Store

# VS Code
.vscode/
